<table>
  <tr>
    <th>Título:</th>
    <td><%= @proposal.title %></td>
  </tr>
  <tr>
    <th>Enlace:</th>
    <td><%= link_to "Oficial", @proposal.official_url, :target => "blank" %></td>
  </tr>
  <tr>
    <th>Tipo:</th>
    <td><%= @proposal.proposal_type %></td>
  </tr>
  <tr>
    <th>Estado:</th>
    <td><%= @proposal.status or "Debatiendo" %></td>
  </tr>
  <tr>
    <th>Categoría:</th>
    <td><%= @proposal.category_name %></td>
  </tr>
  <tr>
    <th>Propuesta por:</th>
    <td><%= @proposal.proposer_name %></td>
  </tr>
  <tr>
    <th>Fecha propuesta:</th>
    <td><%= l @proposal.proposed_at %></td>
  </tr>
  <tr>
    <th>Fecha cerrada:</th>
    <td><%= @proposal.closed_at ? l(@proposal.closed_at) : "No disponible" %></td>
  </tr>
  <tr>
    <th>Texto:</th>
    <td><%= simple_format(@proposal.body) or "No disponible" %></td>
  </tr>
</table>

<div id="back"><%= link_to 'Volver', :back %></div>

