<table>
  <tr>
    <th>Title:<th>
    <td><%= @proposal.title %></td>
  </tr>
  <tr>
    <th>Url:<th>
    <td><%= link_to "official url", @proposal.official_url %></td>
  </tr>
  <tr>
    <th>Type:<th>
    <td><%= @proposal.proposal_type %></td>
  </tr>
  <tr>
    <th>Resolution:<th>
    <td><%= @proposal.official_resolution or "not available"%></td>
  </tr>
  <tr>
    <th>Category:<th>
    <td><%= @proposal.category_name %></td>
  </tr>
  <tr>
    <th>Proposer:<th>
    <td><%= @proposal.proposer_name %></td>
  </tr>
  <tr>
    <th>Proposed at:<th>
    <td><%= @proposal.proposed_at %></td>
  </tr>
  <tr>
    <th>Closed at:<th>
    <td><%= @proposal.closed_at or "not available" %></td>
  </tr>
  <tr>
    <th>Created at:<th>
    <td><%= l @proposal.created_at %></td>
  </tr>
  <tr>
    <th>Updated at:<th>
    <td><%= @proposal.updated_at %></td>
  </tr>
</table>

<%= link_to 'Back', proposals_path %>
